* {
    /* Background */
    --pri-bg-color: #121214;
    --sec-bg-color: #1a1a1e;
    --ter-bg-color: #202024;
    --qua-bg-color: #43434d;

    /* Border */
    --pri-bd-color: #43434d;
    --sec-bd-color: #ffffff;

    /* Text */
    --pri-text-color: #ffffff;
    --pri-placeholder-color: #9ca3af;

    /* Active */
    --pri-active-color: #2c2c30;

    /* Hover */
    --pri-hover-color: #242427;
    --sec-hover-color: #43434d;

    /* Button */
    --pri-button-bg-color: #5E8C61;
    --pri-button-hover-color: #3D6B47;
    --pri-button-text-color: var(--pri-text-color);
    --sec-button-bg-color: #00000000;
    --sec-button-hover-color: #2c2c30;
    --sec-button-text-color: var(--pri-text-color);
    --ter-button-bg-color: #a22121;
    --ter-button-hover-color: #731818;
    --ter-button-text-color: var(--pri-text-color);

    /* hljs */
    --hljs-theme: 'src/css/highlightjs/dark.css';
    --hljs-background: #1c1b1b;
}

body {
    color: var(--pri-text-color);
}

/* Element */
.app button:hover {
    background-color: var(--sec-button-hover-color);
}

/* Server config */
.config-container-left {
    border-color: var(--pri-bd-color);
    background-color: var(--pri-bg-color);
}

.config .sub-category:hover {
    background-color: var(--pri-hover-color);
}

.config .sub-category.active {
    background-color: var(--pri-active-color);
    color: var(--pri-button-bg-color);
}

.config .sub-category.danger{
    color: red;
}

.config .sub-category.danger:hover{
    background-color: darkred;
    color: #ff1f1f;
}

.config input,
.config select,
form.popup input,
form.popup select {
    background-color: var(--sec-bg-color);
    border-color: var(--pri-bd-color);
    color: var(--pri-text-color);
}

.config label,
form.popup label {
    font-weight: 800;
    color: var(--pri-text-color);
}

.voice-settings label {
    font-weight: 400;
    color: var(--pri-text-color);
}

.config-item {
    background-color: var(--ter-bg-color);
}

.config-item:hover {
    background-color: var(--pri-hover-color);
}

.config-right button {
    background-color: var(--pri-button-bg-color);
    color: var(--pri-button-text-color);
}

.config-right button:hover {
    background-color: var(--pri-button-hover-color);
}

.theme-select-button {
    padding: 0;
    background-color: var(--sec-button-bg-color)!important;
    color: var(--sec-button-text-color)!important;
}

.theme-select-button:hover {
    background-color: var(--sec-button-hover-color)!important;
}

.theme-select-button[disabled] {
    background-color: var(--sec-button-hover-color)!important;
}

textarea.config-item:hover {
    background-color: var(--sec-hover-color);
}

/* SweetAlert2 */
.swalPopup {
    background-color: var(--pri-bg-color);
    border: 1px solid var(--pri-bd-color);
}

.swal-input {
    color: var(--pri-text-color);
    background-color: var(--sec-bg-color);
}

.swalTitle {
    color: var(--pri-text-color);
}

.swalConfirm {
    background-color: var(--pri-button-bg-color);
}

.swalConfirm:hover {
    background-color: var(--pri-button-hover-color);
}

.swalCancel {
    background-color: var(--ter-button-bg-color);
}

.swalCancel:hover {
    background-color: var(--ter-button-hover-color);
}
